<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入spirng，扫描基础包，并且说明不让spring扫描controller-->
    <context:component-scan base-package="com.shop">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <!--数据源,使用c3p0-->
    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/shop?useUnicode=true&amp;characterEncoding=utf-8"></property>
        <property name="user" value="root"></property>
        <property name="password" value="123456"></property>

    </bean>
    <!--将sqlSessionFactory交个spring管理,spring整合mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="dataSource" ref="pooledDataSource"></property>
        <!--指定mapper文件位置-->
      <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>

    <!--说明mapper接口位置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.shop.mapper"></property>

    </bean>
    <!--配置一个可以指定批量完成的sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
        <constructor-arg name="executorType" value="BATCH"></constructor-arg>

    </bean>

    <!-- 配置上传文件的组件 id的值必须为“multipartResolver” -->
    <!-- class spring-web  org.springframework.web.multipart.commons -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 配置最大的上传文件10兆 -->
        <property name="maxUploadSize" value="10000000"></property>
        <!-- 设置默认的编码格式 -->
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>


    <!-- 事务控制的配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 控制数据源 -->
        <property name="dataSource" ref="pooledDataSource"></property>
    </bean>

    <!-- 开启注解的事务，使用xml配置式的（主要使用的是配置式）引入aop -->
    <aop:config>
        <!-- 切入点表达式 第一个*任意返回值 ..任意包下 *任意方法..任意参数 -->
        <aop:pointcut expression="execution(* com.shop.service..*(..))" id="txPoint"/>
        <!-- 配置事务增强 引入tx -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint" />
    </aop:config>


    <!-- 配置事务增强，事务如何切入,切入后怎么办 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 所有方法都是事务方法 -->
            <tx:method name="*"/>
            <!-- 以get开头的所有方法,认为都是查询，优化 -->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!-- ========================================================== -->
    <!-- Spring配置文件的核心点（数据源、与mybatis的整合、事务控制） -->






</beans>